# Node modules
client/node_modules/
server/node_modules/

# Build output
dist/
build/

# Logs
*.log

# Package dependencies
package-lock.json

# Vite / Next / build outputs 
client/dist/
server/dist/

# System files
.vscode/
.DS_Store

# Environment variables
.env
.env.local
.env.*.local